<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eleaf.dao.mapper.GoodsInfoDaoMapper">
	<!-- 缓存配置 -->
	<cache eviction="LRU" flushInterval="30000" size="512"
		readOnly="true" />
	
	<resultMap id="e_goods_info" type="com.eleaf.entity.GoodsInfo">
		<id property="id" column="id" />
	<!-- public -->
		<result property="hiddenFlag" column="hidden_flag" />
		<result property="createTime" column="create_time" />
		<result property="creator" column="creator" />
		<result property="modifyTime" column="modify_time" />
		<result property="modifier" column="modifier" />
		<result property="memo" column="memo" />
	<!-- private -->
		<result property="goods_name" column="goods_name" />
		<result property="goods_description" column="goods_description" />
		<result property="goods_price" column="goods_price" />
		<result property="goods_cost" column="goods_cost" />
		<result property="type_id" column="type_id" />
		<result property="goods_buy_count" column="goods_buy_count" />
		<result property="goods_view_count" column="goods_view_count" />
		<result property="goods_img" column="goods_img" />
		<result property="goods_main_img" column="goods_main_img" />
		
	</resultMap>
	<sql id="insert_columns">
		id,
		goods_name,
		goods_description,
		goods_price,
		goods_cost,
		type_id,
		hidden_flag
	</sql>
	
	<select id="goodsquerybyName" resultMap="e_goods_info" parameterType="String">
		SELECT *
		FROM e_goods_info
		<where>
			<!-- goods_name like "%"#{gname}"%" -->
			goods_name like CONCAT(CONCAT('%',#{gname}),'%')
		</where>
	</select>

	<update id="goodsputDown" parameterType="com.eleaf.entity.GoodsInfo">
		update e_goods_info
		<trim prefix="set">
			hidden_flag=0
		</trim>
		<where>
			id=#{info.id}
		</where>
	</update>
	<update id="goodsputOn" parameterType="com.eleaf.entity.GoodsInfo">
		update e_goods_info
		<trim prefix="set">
			hidden_flag=1
		</trim>
		<where>
			id=#{info.id}
		</where>
	</update>
	
	<select id="querybyid" parameterType="String" resultMap="e_goods_info">
		select *
		FROM e_goods_info
		<where>
			id=#{id}
		</where>
	</select>
</mapper>